@CHARSET "UTF-8";

/*main*/
* {
	margin: 0;
}
#main {
	width: 1200px;
}

#main_top {
	
}

#main_side_left {
	float: left;
}

#main_content {
	
}

#main_bottom {
	float: clear;
}


/*topMenu*/

#top {
	width: 1200px;
	height: 40px;
}

#title {
	width: 200px;
	height: 36px;
	float: left;
	color: #EDD200;
	font-size: 20px;
	font-weight: bold;
	background-color: #606060;
	text-align: center;
	padding-top: 4px;
}

#menu {
	width: *;
	height: 40px;
	background-color: #606060;
}
	#menu ul {
		
	}
		#menu ul li {
			/*margin-top: 8px;*/
			/*margin-left: 5px;*/
			width: 100px;
			height: 40px;
			float: left;
			list-style: none;
		}
		
		#menu ul li:hover {
			background-color: #969696;
		}
		
		#menu ul li a {
			width: 100%;
			height: 100%;
			
			color: #ffffff;
			text-decoration: none;
		}
		
		/*
		#menu ul li a:link, #menu a:visited {
			width: 100%;
			height: 100%;
			
			color: #ffffff;
			text-decoration: none;
			/*background-color: #606060;*/
		}
		*/
		/*
		#menu ul li a:link, #menu a:visited:hover {
			background-color: #969696;
		}
		*/
		
.lmenu_li2 a:hover {
	display:block;
	margin:0px;
	padding:5px 0px 3px 10px;
	width:100%;
	color:#000000;
	background-color:#aaaaaa;
	font-weight:bold;
}





/*side_left*/

#side_left {
	width: 200px;
	height: 700px;
}

#side_left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#side_left ul li {
	width: 200px;
	height: 50px;
	background-color: #606060;
	color: #ffffff;
}

#side_left ul li a:link, #side_left ul li a:visited {
	width: 200px;
	height: 50px;
	color: #ffffff;
	text-decoration: none;
}

#side_left ul li:hover {
	background-color: #969696;
}


/*content*/

#content {
	height: 700px;
}

/*register_form*/

#reg_form {
	
}

#reg_form table {
	border-collapse: collapse;
	border: none;
	text-align: center;
}

#reg_form table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
}

#reg_form table tr td {
	color: #000000;
	background-color: #d5e3f4;
}

/*employee_reg*/

#employee_reg {
	
}

#employee_reg a {
}


/*employee_list*/

#employee_list {
	
}

#employee_list table {
	border-collapse: collapse;
	width: 600px;
}

#employee_list table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
	text-style: bold;
}

#employee_list table tr td {
	text-align: center;
}

/*draft_list*/

#draft_list {
	
}

#draft_list table {
	border-collapse: collapse;
	width: 600px;
}

#draft_list table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
	text-style: bold;
}

#draft_list table tr td {
	text-align: center;
}


/*draft_write*/

#draft_write {
	
}

#draft_write table {
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 600px;
}

	#draft_write table tr th {
		background-color: #8eb4e3;
		color: #ffffff;
		width: 120px;
		text-align: left;
		height: 25px;
		padding-left: 3px;
	}

	#draft_write table tr td {
		color: #000000;
		text-align: left;
		height: 25px;
		padding-left: 3px;
	}
	
.draft_write_textarea {
	border: none;
	outline: none;
	text-align: top;
	resize: none;
	}
	
/*draft_show*/

#draft_show {
	
}

#draft_show table {
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 600px;
}

#draft_show table tr th {
		background-color: #8eb4e3;
		color: #ffffff;
		width: 120px;
		text-align: left;
		height: 25px;
		padding-left: 3px;
}

#draft_show table tr td {
		color: #000000;
		text-align: left;
		text-align: top;
		padding-left: 3px;
}


.draft_show_textarea {
	border: none;
	outline: none;
	text-align: top;
	resize: none;	
	}
}
