@CHARSET "UTF-8";

/*main*/

#main {
	margin: 30px;
	width: 1200px;
}


/*topMenu*/

#top {
	border: solid;
	border-size: 2px;
	border-color: #ff0000;
}

#title {
	width: 200px;
	height: 40px;
	float: left;
	color: #EDD200;
	font-size: 20px;
	font-weight: bold;
	background-color: #606060;
	margin-right: 10px;
	text-align: center;
}

#menu {
	padding-bottom: 20px;
}

#menu a:link, a:visited {
	
	padding: 10px;
	width: 150px;
	height: 40px;
	background-color: #606060;
	color: #ffffff;
	text-decoration: none;
}
#menu a:link, a:visited:hover {
	background-color: #969696;
}

/*side_left*/

#side_left {
	border: solid;
	border-size: 2px;
	border-color: #ff0000;
	
	width: 200px;
	height: 700px;
	padding: 10px;
}

#side_left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#side_left ul li a:link, a:visited {
	align: center;
	width: 200px;
	height: 50px;
	background-color: #606060;
	color: #ffffff;
	text-decoration: none;
}

#side_left ul li:hover {
	background-color: #969696;
}


/*content*/

#content {
	border: solid;
	border-size: 2px;
	border-color: #ff0000;
	
	padding: 10px;
	height: 700px;
}

/*register_form*/

#reg_form {
	
}

#reg_form table {
	border-collapse: collapse;
	border: none;
	text-align: center;
}

#reg_form table tr th {
	background-color: #8EB4E3;
	color: #FFFFFF;
}

#reg_form table tr td {
	color: #000000;
	background-color: #D5E3F4;
}