@CHARSET "UTF-8";

/*main*/

#main {
	margin: 30px;
	width: 1200px;
}


/*topMenu*/

#top {
	width: 1200px;
	height: 80px;
	border: solid;
	border-size: 1px;
	
	border-color: #000000;
}

#title {
	width: 200px;
	height: 40px;
	float: left;
	color: #EDD200;
	font-size: 20px;
	font-weight: bold;
	background-color: #606060;
	margin-right: 10px;
	text-align: center;
}

#menu {
	margin-top: 10px;
	
}

#menu a:link, #menu a:visited {
	padding: 10px;
	width: 150px;
	height: 40px;
	background-color: #606060;
	color: #ffffff;
	text-decoration: none;
}
#menu a:link, #menu a:visited:hover {
	background-color: blue;'
}

/*side_left*/

#side_left {
	border: solid;
	border-size: 2px;
	border-color: #ff0000;
	
	width: 200px;
	height: 700px;
	padding: 10px;
}

#side_left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#side_left ul li {
	align: center;
	width: 200px;
	height: 50px;
	background-color: #606060;
	color: #ffffff;
}

#side_left ul li a:link, #side_left ul li a:visited {
	align: center;
	width: 200px;
	height: 50px;
	color: #ffffff;
	text-decoration: none;
}

#side_left ul li:hover {
	background-color: #969696;
}


/*content*/

#content {
	border: solid;
	border-size: 2px;
	border-color: #ff0000;
	
	padding: 10px;
	height: 700px;
}

/*register_form*/

#reg_form {
	
}

#reg_form table {
	border-collapse: collapse;
	border: none;
	text-align: center;
}

#reg_form table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
}

#reg_form table tr td {
	color: #000000;
	background-color: #d5e3f4;
}

/*employee_reg*/

#employee_reg {
	
}

#employee_reg a {
	color: #000000;
}


/*employee_list*/

#employee_list {
	
}

#employee_list table {
	border-collapse: collapse;
	width: 600px;
}

#employee_list table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
	text-style: bold;
}

#employee_list table tr td {
	text-align: center;
}

/*draft_list*/

#draft_list {
	
}

#draft_list table {
	border-collapse: collapse;
	width: 600px;
}

#draft_list table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
	text-style: bold;
}

#draft_list table tr td {
	text-align: center;
}


/*draft_write*/

#draft_write {
	
}

#draft_write table {
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 600px;
	
}

#draft_write table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
	width: auto;
}

#draft_write table tr td {
	color: #000000;
	margin: 10px;
	padding: 3px;
	text-align: left;
}
#draft_write input [type="submit"], [type="reset"], [type="button"] {
	width: 80px;
}
input [type="text"] {
	width: 100%;
}

/*draft_show*/

#draft_show {
	
}

#draft_show table {
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 600px;
}

#draft_show table tr th {
	background-color: #8eb4e3;
	color: #ffffff;
}

#draft_show table tr td {
	color: #000000;
}
